body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#imgbox img {
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}